@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --body-font: "Open Sans", sans-serif;
    --heading-font: "Nunito", sans-serif;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 3rem;
}

.container-fluid {
  max-width: 1600px;
}


::-webkit-scrollbar{
  display: none;
}

.modal-backdrop {
  z-index: 9998 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal {
  z-index: 9999 !important;
}

.input {
  @apply border rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-black;
}