@tailwind base;
@tailwind components;
@tailwind utilities;

/* User Module Modal input type  */
.userinput{
  @apply bg-gray-50 border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:border-blue-500 dark:focus:ring-blue-500 dark:placeholder-gray-400 dark:text-white disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:ring-blue-500 p-2.5 rounded-lg text-gray-900 text-sm w-full;
}

/* invoice Code start */
.heading {
  @apply lg:text-[0.9rem] lg:font-semibold xl:text-[0.9rem] xl:font-semibold  text-gray-500 lg:w-[7rem] dark:text-white
}

.heading2 {
  @apply lg:text-[0.9rem] lg:font-semibold xl:text-[0.9rem] xl:font-semibold  text-gray-500 lg:w-[8rem] dark:text-white
}

.invodata {
  @apply lg:text-[0.9rem] lg:font-semibold xl:text-[0.9rem] xl:font-semibold  lg:w-[15rem] dark:text-white
}

.invodata2 {
  @apply lg:text-[0.9rem] lg:font-semibold xl:text-[0.9rem] xl:font-semibold text-end lg:w-[10rem] dark:text-white
}
/* invoice Code end */

/* Add Profile page Code Start */
.AddProfileinput {
  @apply lg:h-9 border-0 shadow-inner shadow-indigo-500/50 hover:shadow-indigo-500/40 rounded-md lg:text-[0.9rem] lg:font-bold  xl:text-[1rem] xl:font-bold
}
/* Add Profile page Code End */



.Card{ 
  @apply bg-white shadow-md shadow-gray-400/50 hover:bg-gray-200 border border-gray-200 rounded-md lg:mt-[0.5rem] xl:mt-[1rem] text-gray-600 lg:px-1 dark:bg-gray-900 dark:border dark:border-gray-600 dark:text-white dark:shadow-gray-400 
}
/* Card  Code End */

/* close btn code start */
.Closebtn{ @apply lg:w-[1.8rem] lg:h-[2rem] text-red-500 hover:text-red-600 }
/* close btn code end */

/* Search btn Code start */
.Search{
  @apply block w-full pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg  focus:ring-blue-500 focus:border-blue-500 
}
/* Search Code End */

/* Multiple Select button Code Start */
.SelectBtn{
  @apply bg-white text-green-500 hover:bg-gradient-to-b from-yellow-500 to-yellow-700 hover:text-white border-2 border-green-500 rounded-md lg:w-[10rem] xl:w-[10rem] self-center lg:text-[0.8rem] lg:font-semibold font-sans text-center lg:m-2 lg:p-1 cursor-pointer
}
/* Multiple Select button Code End */

/* DeafultCard Code start */
.DeafultCard{
  @apply xl:w-[26rem] lg:w-[19rem] lg:mt-2 shadow-inner shadow-indigo-500/50 hover:shadow-indigo-500/40 rounded-md dark:bg-gray-900 dark:text-white dark:shadow-gray-600
}

.ViewAllButton{
  @apply lg:text-[0.7rem] lg:font-bold lg:h-4 xl:h-5 xl:text-[0.9rem] xl:font-bold rounded-md bg-white text-gray-600 cursor-pointer hover:text-gray-700
}

.DeafultCardButton {
  @apply border-l border-blue-200 rounded-r-md bg-blue-200 text-gray-600 lg:w-12 xl:w-14 text-center cursor-pointer
}

/* DeafultCard Code start */



::-webkit-scrollbar {
  display: none;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.6); /* This inverts the icon color, useful for dark modes */
}

/* Tailwind dark mode using class */
.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.9); /* Adjust as necessary for visibility in dark mode */
}


@keyframes auto-scroll {
  0%, 20% { transform: translateY(0); }
  25%, 45% { transform: translateY(-100%); }
  50%, 70% { transform: translateY(-200%); }
  75%, 95% { transform: translateY(-300%); }
  100% { transform: translateY(0); }
}

.auto-scroll {
  animation: auto-scroll 16s infinite;
}

.scroll-item {
  height: 4rem;
  display: flex;
  align-items: center;
}
/* React Select Dropdown  */

.react-select-container {
  @apply w-full;
}

.react-select__control {
  @apply border-gray-700 bg-white text-black dark:bg-gray-800 dark:border-gray-700 dark:text-white;
}

.react-select__menu {
  @apply bg-white text-black dark:bg-gray-800 dark:text-white;
}

.react-select__option {
  @apply bg-white text-black dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700;
}

.react-select__option--is-selected {
  @apply bg-gray-300 text-black dark:bg-gray-700 dark:text-white;
}

.react-select__placeholder {
  @apply text-gray-500 dark:text-gray-400;
}

.dark .react-select__single-value {
  @apply text-white;
}

@media print {
  .page-break {
    page-break-after: always;
    break-after: page;
  }
}